html {
    background-color: #F5F5F5
}

.sidebar {
    height: 100%;
    width: 7%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: lightblue;
    font-size: 18px;
    display: block;
    border-style: none solid none none;
    z-index: 2;
}

.icon {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}

.navigation {
    text-align: center;
    line-height: 2.5;
}

.navlink {
    text-decoration: none;
    color: black
}

.top_banner{
    width: 100%;
    height: 4%;
    line-height: 4%;
    background-color: lightblue;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
}

footer{
    position: fixed;
    width: 100%;
    height: 3%;
    line-height: 3%;
    left:0;
    bottom:0;
    text-align: center;
    background-color: lightblue;
}

.container{
    padding-top:4%;
    padding-left:7%;
    padding-bottom:3%;
    text-align: center;
}

.newbutton{
    position: fixed;
    width: 200px;
    height: 40px;
    bottom: 5%;
    right: 3%;

}

.displaytable{
    font-size: 20px;
    width:90%;  
    border-collapse: collapse;
    border: 2px solid black;
}

.displaytable th,td{
    border: 2px solid black;
}

.displaytable span{
    display: inline-block;
    border: 1px solid black;
}

.displaytable div {
    border: 1px solid black;
}

a.fill {
    color:inherit;
    text-decoration: none;
}

input.fill {
    width:100%;
    height:50px;
    font-size: 20px;
}

.class_white{
    background-color: white;
}

.class_blue{
    background-color: blue;
}

.class_brown{
    background-color: brown;
}

.class_navy{
    background-color: navy;
}

.class_green{
    background-color: green;
}

.class_grey{
    background-color: grey;
}

.class_red{
    background-color: red;
}

.class_crimson{
    background-color: crimson;
}

.class_lime{
    background-color: lime;
}

.class_magenta{
    background-color: magenta;
}

.class_yellow{
    background-color: yellow;
}

.class_olive{
    background-color: olive;
}

.class_maroon{
    background-color: maroon;
}

.class_gold-{
    background-color: gold;
}