{% extends "base.html" %}
{% block content %}
<h2>Edit Merchant</h2>
<form class="newform" action="/merchants/{{merchant.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" value={{merchant.name}} minlength="3" required>
    </div>
    <div>
        <label for="colour">Colour:</label>
        <select list="colour" name="colour">
        <datalist id="colour">
            {% for colour in colour_list %}
                {% if colour == merchant.colour %}
                    <option value={{colour}} selected>{{colour}}</option>
                {% else %}
                    <option value={{colour}}>{{colour}}</option>
                {% endif %}
            {% endfor %}
        </datalist>
        </select>
    </div>
    <div>
        <label for="tags">Tags:</label>
        <select list="tags" name="tags" multiple>
        <datalist id="tags">
            {% if not tag_list %}
                <option disabled>No Tags</option>
            {% else %}
                {% for tag in tag_list %}
                    {% if tag.id in merchant.tag_ids %}
                        <option selected value={{tag.id}}>{{tag.name}}</option>
                    {% else %}
                        <option value={{tag.id}}>{{tag.name}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </datalist>
        </select>
    </div>
    <div>
        <label for="submit">Submit:</label>
        <input id="submit" name="submit" type="submit" value="Edit Merchant">
    </div>
</form>

{% endblock %}