{% extends "base.html" %}
{% block content %}

<table class="displaytable">
    <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Colour</th>
    </tr>
    {% for merchant in merchants %}
    <tr class={{colour_dict[merchant.colour]}}>
        <td>
            <a href="/merchants/{{merchant.id}}" class="fill">
                <div>{{merchant.name}}</div>
            </a>
        </td>
        <td>
            {% for tag in merchant.auto_tags %}
                <a href="/tags/{{tag.id}}" class="fill">
                    <span class={{colour_dict[tag.colour]}}>{{tag.name}}</span>
                </a>
            {% endfor %}
        </td>
        <td>{{merchant.colour}}</td>
    </tr>
    {% endfor %}
</table>

<button class="newbutton" onclick="window.location.href='/merchants/new'">
    New Merchant
</button>

{% endblock %}
