{% extends "base.html" %}
{% block content %}

<table class="displaytable">
    <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Colour</th>
    </tr>
    {% for merchant in merchants %}
    <tr>
        <td>{{merchant.name}}</td>
        <td>
            {% for tag in merchant.auto_tags %}
                {{tag_dict[tag].name}}
            {% endfor %}
        </td>
        <td>{{merchant.colour}}</td>
    </tr>
    {% endfor %}
</table>

<button class="newbutton" onclick="window.location.href='/merchants/new'">
    New Merchant
</button>

{% endblock %}
