{% extends "base.html" %}
{% block content %}
<table class="displaytable">
    <tr>
        <form>
            <td>
                <input class="fill" id="filter" name="filter" type="submit" value="Filter">
            </td>
            <td>
                <label for="merchant">Merchant:</label>
                <select list="merchant" name="merchant">
                <datalist id="merchant">
                    <option selected value></option>
                    {% for merchant in merchant_list %}
                        <option value={{merchant.id}}>{{merchant.name}}</option>
                    {% endfor %}
                </datalist>
                </select>
            </td>
            <td>
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" minlength="3">
            </td>
            <td>
                <label for="tags">Tags:</label>
                <select list="tags" name="tags" size="3" multiple>
                <datalist id="tags">
                    {% for tag in tag_list %}
                        <option value={{tag.id}}>{{tag.name}}</option>
                    {% endfor %}
                </datalist>
                </select>
            </td>
            <td>
                <label for="before_time">Before:</label>
                <input id="before_time" name="before_time" type="date"><br>
                <label for="after_time">After:</label>
                <input id="after_time" name="after_time" type="date">
            </td>
            <td>
                <label for="above">Above:</label>
                <input id="above" name="above" type="number"><br>
                <label for="below">Below:</label>
                <input id="below" name="below" type="number">
            </td>
        </form>
    </tr>
    <tr>
        <th>ID</th>
        <th>Merchant</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Time</th>
        <th>Amount</th>
    </tr>
    {% for transaction in transactions %}
    <tr class={{colour_dict[transaction.merchant.colour]}}>
        <td>
            {{transaction.id}}
        </td>
        <td>
            <a href="/transactions/{{transaction.id}}" class="fill">
                <div>{{transaction.merchant.name}}</div>
            </a>
        </td>
        <td>{{transaction.name}}</td>
        <td>
            {% if not transaction.tags %}
                <span>None</span>
            {% else %}
                {% for tag in transaction.tags %}
                    <a href="/tags/{{tag_dict[tag].id}}" class="fill">
                        <span class={{colour_dict[tag_dict[tag].colour]}}>{{tag_dict[tag].name}}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </td>
        <td>{{transaction.timestamp}}</td>
        <td>£{{transaction.amount}}</td>
    </tr>
    {% endfor %}
</table>
<button class="newbutton" onclick="window.location.href='/transactions/new'">
    New Transaction
</button>
{% endblock %}