{% extends "base.html" %}
{% block content %}
<table class="displaytable">
    <tr>
        <th>Merchant</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Time</th>
        <th>Amount</th>
    </tr>
    {% for transaction in transactions %}
    <tr class={{colour_dict[transaction.merchant.colour]}}>
        <td>
            <a href="/transactions/{{transaction.id}}" class="fill">
                <div>{{transaction.merchant.name}}</div>
            </a>
        </td>
        <td>{{transaction.name}}</td>
        <td>
            {% if not transaction.tags %}
                <span>None</span>
            {% else %}
                {% for tag in transaction.tags %}
                    <a href="/tags/{{tag_dict[tag].id}}" class="fill">
                        <span class={{colour_dict[tag_dict[tag].colour]}}>{{tag_dict[tag].name}}</span>
                    </a>
                {% endfor %}
            {% endif %}
        </td>
        <td>{{transaction.timestamp}}</td>
        <td>£{{transaction.amount}}</td>
    </tr>
    {% endfor %}
</table>
<button class="newbutton" onclick="window.location.href='/transactions/new'">
    New Transaction
</button>
{% endblock %}