{% extends "base.html" %}
{% block content %}
<h2>New Transaction</h2>
<form class="newform" action="/transactions" method="POST">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
    </div>
    <div>
        <label for="amount">Amount:</label>
        <input id="amount" name="amount" type="number">
    </div>
    <div>
        <label for="time">Time:</label>
        <input id="time" name="time" type="datetime-local" value={{date_string}}>
    </div>
    <div>
        <label for="merchant">Merchant:</label>
        <select list="merchant" name="merchant">
        <datalist id="merchant">
            {% for merchant in merchant_list %}
                <option value={{merchant.id}}>{{merchant.name}}</option>
            {% endfor %}
        </datalist>
        </select>
    </div>
    <div>
        <label for="tags">Tags:</label>
        <select list="tags" name="tags" multiple>
        <datalist id="tags">
            {% if not tag_list %}
                <option disabled>No Tags</option>
            {% else %}
                {% for tag in tag_list %}
                    <option value={{tag.id}}>{{tag.name}}</option>
                {% endfor %}
            {% endif %}
        </datalist>
        </select>
    </div>
    <div>
        <label for="submit">Submit:</label>
        <input id="submit" name="submit" type="submit" value="Create Transaction">
    </div>
</form>


{% endblock %}